.red{
    color: red;
    background-color: red;

}

.orange
{
    color: black;
    background-color: orange;
}
.jaune
{
    color: black;
    background-color: yellow;
}
.blue{
    color: black;
    background-color: blue;
}
.vert
{
    color: black;
    background-color: green;

}

.select
{

    width: 50px;
    height: 30px;
    background-color: white;
    position: relative;
}

.Selected{
    background: linear-gradient(to right, white , greenyellow) !important;

}
.app {
    font-family: sans-serif;
    text-align: center;
    font-size: 20px;
}
.options{
    padding: 8px;
    border: 2px solid black;
    cursor: pointer;
    font-size: 22px;
}
.titre{
    font-size: 25px;
    text-align: center;
    font-family: sans-serif;
}
